<div class="mainheader-area">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="/cars/list">SUPER AXLE COMPANY</a>
        </div>
      </div>

      <div class="col-md-9 clearfix text-right">
        <div class="d-md-inline-block d-block mr-md-4"></div>
        <div class="clearfix d-md-inline-block d-block">
          <div class="user-profile m-0">
            <img
              class="avatar user-thumb"
              src="/img/author/avatar.png"
              alt="avatar"
            />
            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">
              chintu<i class="fa fa-angle-down"></i>
            </h4>
            <div class="dropdown-menu">
              
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function showLogoutPopup() {
    alert("Logout Successfully");
  }
</script>
