<div class="main-content-inner">
  <div class="row">
    <div class="col-lg-6 col-ml-12">
      <div class="row chan">
        <!-- Textual inputs start -->
        <div class="col-12 mt-5">
          <div class="card">
            <div class="card-body">
              <form
                action="/clubs/register"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <h4 class="header-title">Add New Club</h4>
                  <label class="col-form-label">Club Name</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Name"
                    id="example-text-input"
                    name="club_name"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label"
                    >Password</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Password"
                    name="password"
                    id="example-text-input"
                  />
                </div>
                <div class="mb-3">
                  <label class="col-form-label">Add Banner Image </label>
                  <input class="form-control" type="file" name="bannerImage" />
                </div>

                <div class="form-group">
                  <label for="example-text-input" class="col-form-label"
                    >Address</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Address"
                    name="address"
                    id="example-text-input"
                  />
                </div>
                <div class="form-group">
                  <label for="example-text-input" class="col-form-label"
                    >Club Rules</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Club Rules"
                    name="club_rules"
                    id="example-text-input"
                  />
                </div>

                <div class="mb-3">
                  <label class="col-form-label"
                    >Add Images for gallery max:100
                  </label>
                  <input
                    class="form-control"
                    type="file"
                    name="galleryImages"
                    multiple
                  />
                </div>

                <button class="btn btn-primary mb-3">Add User</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Textual inputs end -->
        <!-- main content area end -->
      </div>
    </div>
  </div>
</div>
