<div class="main-content-inner">
  <div class="row">
    <div class="col-lg-6 col-ml-12">
      <div class="row">
        <!-- Textual inputs start -->
        <div class="col-12 mt-5">
          <div class="card">
            <div class="card-body">
              <form action="/categories/create" method="post">
                <div class="form-group">
                  <h4 class="header-title">Add New Category</h4>
                  <label class="col-form-label">Category Name</label>
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Category Name"
                    id="example-text-input"
                    name="category_name"
                    required
                  />
                </div>
                <button class="btn btn-primary mb-3">Add Category</button>
              </form>
            </div>
          </div>
        </div>
        <!-- Textual inputs end -->

        <!-- main content area end -->
      </div>
    </div>
  </div>
</div>
