  <div class="main-content-inner">
    <div class="row">
      <div class="col-lg-6 col-ml-12">
        <div class="row chan">
          <!-- Textual inputs start -->
          <div class="col-12 mt-5">
            <div class="card">
              <div class="card-body">
                <form
                  action="/garages/register"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <div class="form-group">
                    <h4 class="header-title">Add New Garage</h4>
                    <label class="col-form-label">Garage Name</label>
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Name"
                      id="example-text-input"
                      name="garage_name"
                    />
                  </div>
                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label"
                      >Password</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Password"
                      name="password"
                      id="example-text-input"
                    />
                  </div>
                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label"
                      >Mobile Number</label
                    >
                    <input
                      class="form-control"
                      type="tel"
                      placeholder="Mobile Number"
                      name="mobile_number"
                      id="example-text-input"
                    />
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label">Add Profile Image </label>
                    <input class="form-control" type="file" name="profileImage" />
                  </div>

                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label"
                      >Address</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Address"
                      name="address"
                      id="example-text-input"
                    />
                  </div>
                  <div class="form-group">
                    <label for="Select">Select State:</label>
                    <select name="state" id="SelectState" class="form-control">
                      <% states.forEach((row) => { %>
                        <option value="<%= row.id %>"><%= row.state %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="Select">Select City:</label>
                    <select name="city" id="SelectCity" class="form-control"></select>
                  </div>
                  <div class="form-group">
                    <label for="example-text-input" class="col-form-label"
                      >Cordinates</label
                    >
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Latitude"
                      name="lat"
                      id="example-text-input"
                    />
                    <input
                      class="form-control"
                      type="text"
                      placeholder="Longitude"
                      name="lng"
                      id="example-text-input"
                    />
                  </div>
                  <button class="btn btn-primary mb-3">Add Garage</button>
                </form>
                <div id="successMessage" style="display: none; color: green;">
                  Garage Added Successfully
                </div>
              </div>
            </div>
          </div>
          <!-- Textual inputs end -->
          <!-- main content area end -->
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
      $("#SelectState").change(function () {
        const selectedStateId = $(this).val();
        $.ajax({
          url: `/garages/get-cities/${selectedStateId}`,
          method: "GET",
          success: function (response) {
            const cities = response.cities;
            $("#SelectCity").empty();
  
            if (cities.length === 0) {
              $("#SelectCity").append(
                $("<option>", {
                  text: "No City Found in Above State",
                  value: "",
                })
              );
            } else {
              cities.forEach(function (city) {
                $("#SelectCity").append(
                  $("<option>", {
                    text: city.city,
                    value: city.city_id,
                  })
                );
              });
            }
          },
          error: function (error) {
            console.error(error);
          },
        });
      });
    });
  </script>